
@{
    ViewBag.Title = "FilmRegistrer";
}

<h2>FilmRegistrer</h2>

<form action="/Home/Hovedside" method="post">
    <table class="table">
        <tr>
            <td>Registrer en film:</td>
        </tr>
        <tr>
            <td>Tittel</td>
            <td><input type="text" name="tittel" required/></td>
        </tr>
        <tr>
            <td>Lengde</td>
            <td><input type="number" name="lengde" required maxlength="3"/></td>
        </tr>
        <tr>
            <td>Størrelse</td>
            <td><input type="number" name="storrelse" required/></td>
        </tr>
        <tr>
            <td>Pris</td>
            <td><input type="number" name="pris" required/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Legg til film"/></td>
        </tr>
    </table>
</form>
