<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <div id="filmModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Innhold</p>
                <div id="modalInnhold">
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Lukk</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" id="kjop">Kjøp</button>
            </div>
        </div>
    </div>
</div>
 

