@model List<System.String>

@{
    ViewBag.Title = "HovedSide";
}

<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">
    function hentFilmAjax() {
        jQuery("#FilmListe").load("/NedTrekk/HentFilm", { Sjanger: $("#IdListe").val() });
    }
</script>

<h2>HovedSide</h2>

<div>
    <h2>Velg en sjanger fra listen under</h2>
    <select id="IdListe" onchange="hentFilmAjax()">
        @foreach (var Sjanger in Model)
        {
            <option>@Sjanger</option>}
    </select>
</div>
<div id="FilmListe">
    Her skal filmene komme!
</div>





