@model List<System.String>

@{
    ViewBag.Title = "Film oversiktx";
}
<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/bootstrap.js"></script>
<script type="text/javascript">
    // Når siden lastes inn, hentes alle filmer fra databasen til div-en med id FilmListe
    $(document).ready(function () {
        $("#FilmListe").load("/Home/Allefilmer");

        $('a[data-filmModal=true]').click(function () {
                var dataNavn = $(this).data('navn');
                var dataId = $(this).data('id');

                $('#slettNavn').html(dataId);

                $('#sletteModalKnapp').click(function () {
                    $.ajax({
                        url: '@Url.Action("SlettKunde", "Home")',
                        data: { id: dataId },
                        success: function () {
                            $.ajax({
                                url: '@Url.Action("AdminKunder", "Home")',
                                success: function () {
                                    window.location.reload();
                                }
                            });
                        }
                    });
                });
        });
    });
    // Når sjanger er valgt hentes filmer i gjellende sjanger fra databasen til div-en med id FilmListe
    function hentFilmAjax() {
        if ($("#IdListe").val() == "Alle Filmer" || $("#IdListe").val() == "Velg Sjanger") {
            $("#FilmListe").load("/Home/Allefilmer");
        } else {
            $("#FilmListe").load("/Home/HentFilm", { Sjanger: $("#IdListe").val() });
        }
    }

</script>

@* Endrer at å trykke på logoen sender deg til hovedsiden vår med oversikt over filmer, legger til logg ut - knapp *@

<div class="container body-content">
    <!--Nedtrekk liste for valg av sjanger-->
    <div>
        <select class="form-control" id="IdListe" onchange="hentFilmAjax()">
            @foreach (var Sjanger in Model)
            {
                <option>@Sjanger</option>
            }
        </select>
    </div>
    <br />

    <div class="text-center" id="FilmListe">

    </div>
    @Html.Partial("filmModal") 
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>