
@{
    ViewBag.Title = "KundeRegistrer";
}

<h2>KundeRegistrer</h2>

<form action="/Home/Index" method="post">
    <table class="table">
        <tr>
            <td>Registrer deg</td>
        </tr>
        <tr>
            <td>Fornavn</td>
            <td><input type="text" name="fornavn" required/></td>
        </tr>
        <tr>
            <td>Etternavn</td>
            <td><input type="text" name="etternavn" required/></td>
        </tr>
        <tr>
            <td>Adresse</td>
            <td><input type="text" name="adresse" required/></td>
        </tr>
        <tr>
            <td>Postnummer</td>
            <td><input type="number" name="postnummer" required/></td>
        </tr>
        <tr>
            <td>Poststed</td>
            <td><input type="text" name="poststed" required/></td>
        </tr>
        <tr>
            <td>Telefonnummer</td>
            <td><input type="number" name="tlf" required/></td>
        </tr>
        <tr>
            <td>Brukernavn</td>
            <td><input type="text" name="brukernavn" required/></td>
        </tr>
        <tr>
            <td>Passord</td>
            <td><input type="password" name="passord" required/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Bekreft" name="bekreft"/></td>
        </tr>
    </table>
</form>
