@model List<System.String>
@{
    ViewBag.Title = "NyHovedSide";
}
<script type="text/javascript">
    var url = window.location.href;
    var data = url.split('data=').pop();
    $(document).ready(function () {
        
        $('#data').load("/Home/HentFilmInfo", { Id: data});

    });
    function myAlert() {
        if (confirm('Bekreft Kjøp')) {
            $.ajax({
                url: "/Home/Bestilling/" + data,
                success: function (data) { $('#FilmListe').html('Kjøp Fullført') },
                statusCode: {
                    404: function (content) { alert('cannot find resource'); },
                    500: function (content) { alert('internal server error'); }
                },
                error: function (req, status, errorObj) {
                    // handle status === "timeout"
                    // handle other errors
                }
            });
        }

    }
    
</script>

<div id="navbar" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Getflix", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", id = "getflixKnapp" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                <li>@Html.ActionLink("Logg ut", "LoggUt")</li>
            </ul>
        </div>
    </div>
</div>

<h2>NyHovedSide</h2>

<br/>
<p id="data"></p>
<br/>

<div id="FilmListe">
    
</div>






