@model List<System.String>
@{
    ViewBag.Title = "NyHovedSide";
}
<script type="text/javascript">
    var url = window.location.href;
    var data = url.split('data=').pop();
    $(document).ready(function () {
        
        $('#data').load("/Home/HentFilmInfo", { Id: data});

    });
    function myAlert() {
        if (confirm('Bekreft Kjøp')) {
            $.ajax({
                url: "/Home/Bestilling/" + data,
                success: function (data) { $('#FilmListe').html('Kjøp Fullført') },
                statusCode: {
                    404: function (content) { alert('cannot find resource'); },
                    500: function (content) { alert('internal server error'); }
                },
                error: function (req, status, errorObj) {
                    // handle status === "timeout"
                    // handle other errors
                }
            });
        }

    }
    
</script>
<h2>NyHovedSide</h2>

<br/>
<p id="data"></p>
<br/>

<div id="FilmListe">
    
</div>






