@model List<System.String>
@{
    ViewBag.Title = "Kjøp film";
}
<script type="text/javascript">
    // Henter filmens id far url
    var url = window.location.href;
    var data = url.split('data=').pop();
    // Når siden Lastes inn hentes info om filmen med riktig id. hentes til div med id=data
    $(document).ready(function () {
        $('#data').load("/Home/HentFilmInfo", { Id: data});
    });
    // Allert for å bekrefte kjøp av film
    function myAlert() {
        // Ajax legger til kjøpet i database
        if (confirm('Bekreft Kjøp')) {
            $.ajax({
                url: "/Home/Bestilling/" + data,
                success: function (data) { $('#FilmListe').html('Kjøp Fullført') },
                statusCode: {
                    404: function (content) { alert('Kan ikke koble til database, prøv igjenn senere.'); },
                    500: function (content) { alert('Feil på server, prøv igjen senere.'); }
                },
                
            });
        }

    }
   
</script>
<!--Navbar-->
<div id="navbar" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Getflix", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", id = "getflixKnapp" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                <li>@Html.ActionLink("Logg ut", "LoggUt")</li>
            </ul>
        </div>
    </div>
</div>

<a id="tilbakeKnapp" href="/Home/HovedSide" class="previous round">&#8249;</a>

<!--Her kommer info om filmen-->
<br/>
<p id="data"></p>
<br/>

<h3 id="FilmListe" class="text-center">

</h3>







