html, body {
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4%;
    box-shadow: 1px 30px 1000px #424040;
    border: 1px solid #424040;
    background-color: #424040;
    color: #D8D5D5;
    min-height: 100%;
}

#footer {
    padding-top: 10px;
    margin-top: -30px;
    color: #D8D5D5;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 100;
    opacity: 0.7;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#getflixKnapp {
    color: red;
    font-family: Impact, Charcoal, sans-serif;
    font-weight: bold;
    font-size: 200%;
}


#tilbakeKnapp {
    background-color: #D8D5D5;
    color: #424040;
    border-radius: 50%;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    margin: 1%;
}

#index {
    margin: 10%;
}

#midtStill {
    display: flex;
    justify-content: center;
}

#data {
    display: flex;
    justify-content: center;
}
#data img {
    border-radius: 5px;
}

#FilmListe img {
    border-radius: 5px;
}