
/* Siden for styling for prosjektet */

html, body {
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
}



.body-content {
    padding: 4% 15px 1.5% 15px;
    box-shadow: 0 0 1000px #424040;
    border: 1px solid #424040;
    background-color: #424040;
    color: #D8D5D5;
    min-height: 100%;
    margin-bottom: 0;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#getflixKnapp {
    color: red;
    font-family: Impact, Charcoal, sans-serif;
    font-weight: lighter;
    font-size: 200%;
    text-shadow: 2px 2px 1px blacK;
}


#tilbakeKnapp {
    background-color: #D8D5D5;
    color: #424040;
    border-radius: 50%;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    margin: 1%;
}

#index {
    margin: 5% 10% 0 10%;
    padding: 2% 0 0.5% 0;
    box-shadow: 0px 0px 20px 0px #222222;
}

#login {
    width: 50%;
    margin-top: 5%;
    justify-content: center;
}

#midtStill {
    display: flex;
    justify-content: center;
}

#data {
    display: flex;
    justify-content: center;
}
#data img {
    border-radius: 5px;
}

#IdListe {
    margin-left: 1%;
    color: #fff;
    background-color: transparent;
}
#IdListe option {
    background-color: #424040;
}

#FilmListe img {
    border-radius: 5px;
}

#velkommen {
    margin-top: 5%;
    font-size: 500%;
    opacity: 0.8;
}

.form-horizontal {
    margin-left: 5%;
    margin-right: 5%;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: red;
}

#endreNavn {
    margin-left: 20%;
    margin-right: 20%;
    min-width: 60%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #D8D5D5;
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
    height: 3%;
    color: #D8D5D5;
    background-color: #424040;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.5;
}