<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Getflix</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css"/>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>
<body style=" background-color: #808080; height: 100%; ">
    
    @* Lager et felles layout, hvor innholdet skal rendres, og vi får en felles footer *@

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <div class="container text-center">
        <footer id="footer">
            <p>&copy; @DateTime.Now.Year - Andreas Klophmann - Viktor Danielsen - Alexander William Ingvarsson Hals - Kristian Ludvig Grønvold</p>
        </footer>
    </div>
    

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>