
@{
    ViewBag.Title = "Admin";
}

<div class="text-center" style="padding-top: 10%">
    <h2>Velkommen admin: @Session["AdminNavn"]!</h2>
    <h3>Her kan du utføre vedlikehold over kunder, filmer og bestillinger</h3>
    <h3>Naviger deg til de ulike funksjonene via navigeringsmenyen øverst</h3>
</div>